.add-form{
    border-radius: 39px;
    background: #71ccca;
    box-shadow:  29px 29px 58px #66b8b6,
                 -29px -29px 58px #7ce0de;

    margin: 1vmax auto;
    padding: 3vmax;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    
    
}

.dropdownItem{
    display: flex;
    justify-content: space-between;
 
}
