

.searchbar{
    display: flex;
    justify-content: space-between;
}

.searchfield{
    border: none;
    outline: none;
    background-color: light;
    width: 90%;
   
    
    height: 100%;
}

.againstSearchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
