.header-container{
    width: 50%;
    margin: auto;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vmax;
}

.header-logo{
    display: flex;
}



@media screen and (max-width:540px) {
    .header-container{
        width: 90%;
    }
    
}